Goal: Consultants should be able to register their own working hours using BC 365 webclient, using MAUI

Info: There already is a Employee card to register consultants
Info: Should each consultants also have a User? And what role should they have?

- DONE
Req: ER Diagram of Database - Create Estimate and hand it to Frank
Req: Discuss and prioritise the most important features. Must Have, Should Have
Req: Register hours worked(new table for this)
Req: Auto register employee No.
Req: New page to create projects with: 
- project name
- number of total estimated hours
- number of hours remained
- used number of hours
- assigned consultant
Req: Use a No. Series
Req: Needs to be able to close the projects:
- Post them, move them to the "posted projects" table and delete them from the projects table
Req: Need to be able to choose a project
Req: User can only choose assigned projects



Req: On employee card a new action must offer option to access employess time registrations
Req: Each night: 
- a scheduled job must post the time registrations 
- and run a validation job and mail a list of all projects which has negative number of hours remaining, 
- receiver is controlled by email scenario

features and Time Estimate: 114 or 38h
4) Employee can see their accessed projects with tasks with time registrations - 2H
5) See hours worked for each individual consultant in the Project Administration, refresh button, OnOpen(), report(search) - 7.5H(Report), 2.5H(Uden report)
6) scheduled job to run validation and mail list - 6H
7) Admin can see which employee is doing which task(flag, igang: true, pause: false) - 2H

- DONE
0) Dummy Data - 0.5H
1) No. Series(Employee, Project, Tasks, the IDs) - 2.5H
2) Setup Tables, check ER, REMEMBER KEYS - 2.5H
3) Setup Admins Page with all his settings(Create Project, assign users, close projects, create tasks+test) - 10H
---
a) Setup the Views on MAUI
b) Setup MVVM without function, some test: LoginView, UserView, ProjectView, TaskView has time - 2H

MAUI
- Fra 3) 
c) Login Codeunit and JSON MAUI(Messagecenters, Token) - 2H + 10H
d) User Codeunit/Coding and JSON MAUI(coding, ) - 5H + 7H
e) Project Codeunit/Lists/bindings and JSON MAUI - 5H + 7H
f) Task Codeunit/Lists/Refresh and JSON MAUI - 3H + 0H
g) Timer 3x Codeunit(minutes) and JSON with 3(flag) - 6H + 7H

Codeunit for admins to make tasks, make projects, delegate tasks to employees.
Codeunit for user to register time, pause time and finish time for tasks
Maui: 3 views: Projects -> Tasks -> the pomodoro within a task
